.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  display: flex;
  background-color: #282c34;
  list-style: none;
  padding-bottom: 5px;
  padding-top: 2px;
}
li{
  padding-top: 3px;
  padding-bottom: 3px;
}
a{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin: 0px 7px 7px;
  color: white;
  text-decoration: none;
}
.active{
  background-color: #c2b506;
}
.card img{
  height: 150px;
  width: 280px;
  margin-bottom: 0px;
}
.grid{
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 200px;
  margin: 20px 10% 20px 10%;
}

h3{
  font-size: 13px;
}
.title{
  font-size: 13px;
}
.description{
  background-color: rgb(234, 227, 227);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -11px;
  padding-top: 1px;
  padding-bottom: 3px;
}
button{
  background-color: black;
  color: white;
  margin-top: -10px;
  padding: 10px 121px;
}
.card p{
  margin-top: 7px;
}
.footer{
  background-color: #c2b506;
  width: 100%;
  padding: 1px 0px;
}
.copyright{
  color: white;
  font-size: 10px;
}